body {
    background-color: #2c2c2c;
    font-family: sans-serif;
}

.status-container {
    margin-top: 50px;
}

.status {
    text-align: center;
}

.entity {
    color: white;
}

.navigation-button {
    margin-left: auto;
    margin-right: auto;
    width: 180px;
    display: block;
    margin-bottom: 10px;
    padding: 10px;
    font-size: 16px;
}